[buildout]
extends = https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
#    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg

package-name = collective.js.abcjs
package-extras = [tests]
parts += omelette

[instance]
eggs += 
    PIL
    plone.reload



[omelette]
recipe=collective.recipe.omelette
eggs=${instance:eggs}

